<div class="large-10 columns">
	<ul class="dropdown menu" data-dropdown-menu>
		<li class="menu-text title">Default</li>
		<li><a href="#">Gallery</a>
			<ul class="submenu menu vertical" data-submenu>
				<li><a href="#" data-open="gv-editGallery">Edit</a></li>
				<li><a href="#" class="delete-gallery">Delete</a></li>
			</ul>
		<li>
		<li><a href="#">Add Photos</a>
			<ul class="submenu menu vertical" data-submenu>
				<li><a href="#" data-open="gv-uploadPhotos">Upload Photos</a></li>
				<li><a href="#" data-open="gv-addPhotos">Add Existing</a></li>
			</ul>
		<li>
		<li><a href="#">Selected Photos</a>
			<ul class="submenu menu vertical" data-submenu>
				<li><a href="#" class="edit-photos">Edit</a></li>
				<li><a href="#" class="remove-photos">Remove From Gallery</a></li>
				<li><a href="#" class="delete-photos">Delete Permanently</a></li>
			</ul>
		<li>
		<li><a href="#">Set Featured Photo</a>
			<ul class="submenu menu vertical" data-submenu>
				<li><a href="#" class="set-featured-gallery">Gallery</a></li>
				<li><a href="#" class="set-featured-folder">Folder</a></li>
			</ul>
		<li>
	</ul>
</div>
<div class="large-2 columns">
	<ul class="menu align-right">
		<li><a href="#" class="deselect-all"><i class="fa fa-circle-o"></i></a></li>
		<li><a href="#" class="select-all"><i class="fa fa-check-circle-o"></i></a></li>
	</ul>
</div>
<div class="large-12 columns photo-container">
<div class="photo-list">
</div>
</div>

<div id="gv-photoViewer" class="reveal form full" data-reveal>
<div class='photo-viewer'>
</div>
<button type="button" class="close-button" data-close aria-label="Close">
	<span aria-hidden="true">&times;</span>
</button>
</div>

<div class="reveal form" id="gv-editGallery" data-reveal>
	<h2>Edit Gallery</h2>
	<form>
		<label>Name
			<input type="text" name="name">
		</label>
		<label>Description
			<input type="text" name="description">
		</label>
		<label>Custom URL
			<input type="text" name="url">
		</label>
		<input type="submit" class="button" value="Submit">
		<button type="button" class="close-button" data-close aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</form>
</div>


<div class="reveal form full" id="gv-addPhotos" data-reveal>
<a href="#" class="button add-selected">Add to Gallery</a>
<button type="button" class="close-button" data-close aria-label="Close">
	<span aria-hidden="true">&times;</span>
</button>
<div class="master-photo-list">
</div>
</div>


<div class="reveal dark large" id="gv-uploadPhotos" data-reveal>
</div>




