<div class="large-10 columns breadcrumbs-view">
</div>
<div class="large-10 columns">
	<ul class="dropdown menu" data-dropdown-menu>
		<li class="menu-text title">Default</li>
		<li><a href="#">Gallery</a>
			<ul class="submenu menu vertical" data-submenu>
				<li><a href="#" data-open="gv-editGallery">Edit</a></li>
				<li><a href="#" class="delete-gallery">Delete</a></li>
			</ul>
		<li>
		<li><a href="#">Add Photos</a>
			<ul class="submenu menu vertical" data-submenu>
				<li><a href="#" data-open="gv-uploadPhotos">Upload Photos</a></li>
				<li><a href="#" class="add-photos">Add Existing</a></li>
			</ul>
		<li>
		<li><a href="#">Selected Photos</a>
			<ul class="submenu menu vertical" data-submenu>
				<li><a href="#" class="edit-photos">Edit</a></li>
				<li><a href="#" class="remove-photos">Remove From Gallery</a></li>
				<li><a href="#" class="delete-photos">Delete Permanently</a></li>
			</ul>
		<li>
		<li><a href="#">Set Featured Photo</a>
			<ul class="submenu menu vertical featured" data-submenu>
			</ul>
		<li>
	</ul>
</div>
<div class="large-2 columns">
	<ul class="menu align-right">
		<li><a href="#" class="deselect-all"><i class="fa fa-circle-o"></i></a></li>
		<li><a href="#" class="select-all"><i class="fa fa-check-circle-o"></i></a></li>
	</ul>
</div>
<div class="large-12 columns photo-container">
<div class="photo-list">
</div>
</div>

<div id="gv-editGallery" class="reveal form edit-gallery-view" data-reveal>
</div>

<div id="gv-uploadPhotos" class="reveal dark large dropzone-view" data-reveal>
</div>




