
<div class="row">
  <div class="large-12 columns">
	<div class="small button-group">
		<a href="#" class="button" data-open="addUser">New User</a>
	</div>
  </div>
</div>

<div class="reveal" id="addUser" data-reveal>
	<button type="button" class="close-button" data-close aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<h2>Add a User</h2>
	<form>
		<label>Name
			<input type="text" name="name">
		</label>
		<label>Company
			<input type="text" name="company">
		</label>
		<label>Email
			<input type="text" name="email">
		</label>
		<label>Password
			<input type="password" name="password">
		</label>
		<label>Repeat Password
			<input type="password" name="repeat-password">
		</label>
		<input type="submit" class="button" value="Submit">
	</form>
	<div class="error-message hidden"></div>
</div>




