<div class="large-12 columns">
	<h2>Your Shopping Cart</h2>
</div>

<div class="large-4 columns order-summary">
	<h3>Order Summary</h3>
	<div class="order-summary-view"></div>
</div>
<div class="large-8 columns text-right">
	<a class="button large checkout" href="<%= urlBase %>/checkout">Proceed to Checkout</a>
</div>

<div class="large-12 columns cart">
	<h3>Items</h3>
	<div class="large-12 columns cart-items"></div>
</div>

<div class="reveal form crop-view" data-reveal>
</div>

<div class="reveal form container-products-view" data-reveal>
</div>
