<div class ="grid-x">
	<div class="large-12 cell">
		<h2>Your Shopping Cart</h2>
	</div>

	<div class="large-4 cell order-summary-view">
	</div>
	<div class="large-8 cell text-right">
		<a class="button large checkout" href="<%= urlBase %>/checkout">Proceed to Checkout</a>
	</div>

	<div class="large-12 cell cart">
		<h3>Items</h3>
		<div class="large-12 cell cart-items"></div>
	</div>
</div>

<div class="reveal form crop-view" data-reveal>
</div>

<div class="reveal form container-products-view" data-reveal>
</div>
