<div class="float-left"><p>Items:</p></div>
<div class="right-column text-right"><p><%= count %></p></div>
<div class="float-left"><p>Subtotal:</p></div>
<div class="right-column text-right"><p>$<%= (subtotal/100).toFixed(2) %></p></div>
<div>
	<select id="shipping" name="shipping">
		<%
			for (i=0;i<shipping.length;i++) {
				s = shipping[i];
				if (s.shippingtype==shippingtype)
					print('<option value="' + s.id + '">Shipping: ' + s.description + ' - $' + (s.price/100).toFixed(2) + '</option>');
			}
		%>
	</select>
</div>
<div class="float-left"><p>Total:</p></div>
<div class="right-column text-right"><p class="total-container">$<span class="total"></span></p></div>
