<button type="button" class="close-button" data-close aria-label="Close">
	<span aria-hidden="true">&times;</span>
</button>
<h2>Select Product</h2>
<p>Select additional photos, if desired, and choose a product from the list. You will be able to make adjustments to cropping, etc. at checkout.</p>
<div class="large-12 columns choose-photos-view">
</div>
<div class="large-12 columns">
<select id="products">
</select>
</div>
<div class="large-12 columns">
	<input type="submit" class="button select-product" value="Select">
</div>