<form id="contact-form">
<div class="grid-container">
	<div class="grid-x">
		<h2>Contact Me</h2>
		<div id="form-name" class="large-12 cell field">
			<label><span class="field-label">Your Name <span class="invalid hide">(required)</span></span>
				<input type="text" name="name">
			</label>
		</div>
		<div id="form-email" class="large-12 cell field">
			<label><span class="field-label">Your Email <span class="invalid hide">(required)</span></span>
				<input type="text" name="email">
			</label>
		</div>
		<div id="form-message" class="large-12 cell field">
			<label><span class="field-label">Message <span class="invalid hide">(required)</span></span>
				<textarea name="message" rows="6"></textarea>
			</label>
		</div>
		<div class="large-12 cell text-right">
			<input type="submit" class="button" value="Submit">
		</div>
	</div>
</div>
</form>