<div class="large-12 columns">
	<button type="button" class="close-button" data-close aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<h5>Adjust crop for <span class="dimensions"></span> print</h5>
	<div class="large-12 columns orientation text-right">
		<img class="rotate" src="<%= urlBase %>/images/rotate.png"></div>
	</div>
	<div class="large-12 columns">
		<img class="crop-photo">
		<div class="error-message hide">Cropped size is too small for <span class="dimensions"></span> print</div>
	</div>
	<div class="large-12 columns save-crop-wrapper">		
		<a class="button save-crop">Save</a>
	</div>
</div>