<button type="button" class="close-button" data-close aria-label="Close">
	<span aria-hidden="true">&times;</span>
</button>
<h2>Download Gallery</h2>
<p>Select an image resolution and click the "Create Archive" button below to create an archive file containing all of the photos in the gallery. This may take some time, depending on the image resolution and the size of the gallery. Please don't leave this page while the archive is being created or you will end up with an incomplete archive. When the archive is complete, a link will appear below that you can click on to download your archive. We will also send you an email with this link.</p>
<div class="small-12 large-5 columns">
	<select id="imagesize">
		<option value="1">Small 300px</option>
		<% if (maxdownloadsize>=2) {print('<option value="2"'); if (maxdownloadsize==2) print(' selected'); print('>Medium 450px</option>');} %>
		<% if (maxdownloadsize>=3) {print('<option value="3"'); if (maxdownloadsize==3) print(' selected'); print('>Large 600px</option>');} %>
		<% if (maxdownloadsize>=4) {print('<option value="4"'); if (maxdownloadsize==4) print(' selected'); print('>X-Large 960px</option>');} %>
		<% if (maxdownloadsize>=5) {print('<option value="5"'); if (maxdownloadsize==5) print(' selected'); print('>Full Resolution</option>');} %>
	</select>
</div>	
<div class="small-12 large-7 columns button-group">
	<a class="button create-archive">Create Archive</a>
	<a class="button secondary separate cancel-archive">Cancel</a>
	<a class="button secondary" data-close>Close</a>
</div>
<div class="archive-wait hide">
	<img src="<%= waitsrc %>" alt="wait"/>
	<div class="progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuetext="0%" aria-valuemax="100">
	  <span class="progress-meter" style="width: 0%">
	    <p class="progress-meter-text"></p>
	  </span>
	</div>
</div>
<div class="archive-notify hide"></div>