<button type="button" class="close-button" data-close aria-label="Close">
	<span aria-hidden="true">&times;</span>
</button>
<h2>Download Gallery</h2>
<p>Click the button below to create an archive file containing high-resolution versions of all of the photos in the gallery. This may take some time, depending on the size of the gallery. If you wish, you may close this box and we will send you an email with a link to the file. If you keep the box open, the link will appear below when the file is ready to download.</p>
<div class="button-group">
<a class="button create-archive">Create Archive</a>
<a class="button" data-close>Close</a>
</div>
<div class="archive-wait hide"><img src="<%= waitsrc %>" alt="wait"/></div>
<div class="archive-notify hide"></div>