<div class="large-4 columns">
	<span class="title">Default</span>
</div>
<div class="large-8 columns small button-group">
	<a href="#" class="button" data-open="fv-editFolder">Edit</a>
	<a href="#" class="button" data-open="fv-addGallery">New Gallery</a>
</div>

<div class="large-12 columns">
<div class="gallery-list">
</div>
</div>

<div class="reveal" id="fv-editFolder" data-reveal>
	<h2>Edit Folder</h2>
	<form>
		<label>Name
			<input type="text" name="name">
		</label>
		<label>Description
			<input type="text" name="description">
		</label>
		<input type="submit" class="button" value="Submit">
		<button type="button" class="close-button" data-close aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</form>
</div>

<div class="reveal" id="fv-addGallery" data-reveal>
	<h2>Add a Gallery</h2>
	<form>
		<label>Name
			<input type="text" name="name">
		</label>
		<label>Description
			<input type="text" name="description">
		</label>
		<input type="submit" class="button" value="Submit">
		<button type="button" class="close-button" data-close aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</form>
</div>
