<div class="content">
	<span class="aligner"></span>
	<a href="#"><img src="<%= urlBase %>/images/pixel.gif" alt="photo"></a>
</div>
<div class="photo-tools">
	<div class="counter"><span class="prev">&lt;</span><span class="index"></span> / <span class="total"></span><span class="next">&gt;</span></div>
	<div class="tools">
		<a class="hide tool-download" href="#">
		<i data-tooltip aria-haspopup="true" class="has-tip fa fa-archive" data-disable-hover="false" tabindex="1" title="download gallery"></i>
		</a>
		<a href="#" class="hide download-photo">
		<i data-tooltip aria-haspopup="true" class="has-tip fa fa-download" data-disable-hover="false" tabindex="2" title="download photo"></i>
		</a>
		<a href="#" class="hide buy-print">
		<i data-tooltip aria-haspopup="true" class="has-tip fa fa-cart-arrow-down" data-disable-hover="false" tabindex="3" title="add photo to cart"></i>
		</a>
	</div>
</div>

<div class="reveal form full photo-view" data-reveal>
</div>

<div class="reveal form download-gallery-view" data-reveal>
</div>