<div class="content">
	<span class="aligner"></span>
	<a href="#"><img class='selected-photo' src="<%= urlBase %>/images/pixel.gif" alt="photo"></a>
</div>
<div class="photo-tools">
	<div class="counter"><span class="prev">&lt;</span><span class="index"></span> / <span class="total"></span><span class="next">&gt;</span></div>
	<div class="tools">
		<a href="#" class="hide download-gallery">
		<i class="fa fa-archive" title="download gallery"></i>
		</a>
		<a href="#" class="hide download-photo">
		<i class="fa fa-download" title="download photo"></i>
		</a>
		<a href="#" class="hide buy-product">
		<i class="fa fa-cart-arrow-down" title="add product to cart"></i>
		</a>
	</div>
</div>

<iframe id="download-iframe"></iframe>

<div class="reveal form full photo-view" data-reveal>
</div>

<div class="reveal form container-products-view" data-reveal>
</div>

<div class="reveal form download-gallery-view" data-reveal>
</div>