<div class="large-4 columns">
<span class="title">Default</span>
</div>
<div class="large-8 columns small button-group">
	<a href="#" class="button" data-open="photosView">Add Photos</a>
	<a href="#" class="button remove-photos">Remove Selected Photos</a>
</div>

<div class="large-12 columns photo-container">
<div class="photo-list">
</div>
</div>

<div class="reveal" id="photosView" data-reveal>
<a href="#" class="button add-selected">Add to Gallery</a>
<button type="button" class="close-button" data-close aria-label="Close">
	<span aria-hidden="true">&times;</span>
</button>
<div class="master-photo-list">
</div>
</div>


