<div class="content">
	<span class="aligner"></span>
	<a href="#"><img src="<%= urlBase %>/images/pixel.gif" alt="photo"></a>
</div>
<div class="photo-tools">
	<div class="counter"><span class="prev">&lt;</span><span class="index"></span> / <span class="total"></span><span class="next">&gt;</span></div>
	<div class="tools"><i class="fa fa-download download-gallery" data-open="downloadGallery"></i></div>
</div>

<div class="reveal form full photo-view" data-reveal>
</div>

<div id="downloadGallery" class="reveal form" data-reveal>
<button type="button" class="close-button" data-close aria-label="Close">
	<span aria-hidden="true">&times;</span>
</button>
<p>Create a download file</p>
<button class="button create-download">Create Download File</button>
<p class="create-complete hide">Complete message goes here</p>
</div>