<button type="button" class="close-button" data-close aria-label="Close">
	<span aria-hidden="true">&times;</span>
</button>

<h1>Client Login</h1>
<form>
  <label>Email
    <input type="text" name="email">
  </label>
  <label>Password
    <input type="password" name="password">
  </label>
  <input type="checkbox" id="remember" name="remember"><label for="remember">Remember me</label>
  <p><a href="#" class="forgot-password">forgot password</a></p>
  <input type="submit" class="button" value="Submit">
</form>
<div class="error-message hidden"></div> 