<button type="button" class="close-button" data-close aria-label="Close">
	<span aria-hidden="true">&times;</span>
</button>
<div class="large-12 columns container">
	<div class="page wait">
		<img src="<%= urlBase %>/images/ajax-loader.gif">
	</div>
	<div class="page order-success hide">
		<p>Your order has been submitted! You may visit the following link to check on the status of your order:</p>
		<p><a></a>
	</div>
	<div class="page order-error hide">
		<p>Your order could not be processed</p>
		<textarea name='error-text' rows="10"></textarea>
	</div>
</div>
