<fieldset class="large-12 columns size-selectors">
	<input type="radio" name="view-size" id="view-S"><label for="view-S">Small</label>
	<input type="radio" name="view-size" id="view-M"><label for="view-M">Medium</label>
	<input type="radio" name="view-size" id="view-L" checked><label for="view-L">Large</label>
	<input type="radio" name="view-size" id="view-X"><label for="view-X">X-Large</label>
</fieldset>

<div class="large-6 columns">
	<div class="image-container">
		<div class="scroll left"><a href="#">L</a></div>
		<div class="center">
			<img class="view-image">
		</div>
		<div class="scroll right"><a href="#">R</a></div>
	</div>
</div>

<div class="large-6 columns">
<div class="text-container">
</div>
</div>