<div class="large-12 columns photo-container">
	<button type="button" class="close-button" data-close aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<a class="photo-wrapper" href="#"><img class="photo"></a>
	<span class="prev">&laquo;</span><span class="next">&raquo;</span>
</div>
<div class="large-12 columns photo-tools">
<a href="#" class="hide download-photo">
<i data-tooltip aria-haspopup="true" class="has-tip fa fa-download" data-disable-hover="false" tabindex="1" title="download photo"></i>
</a>
<a href="#" class="hide buy-print">
<i data-tooltip aria-haspopup="true" class="has-tip fa fa-cart-arrow-down" data-disable-hover="false" tabindex="2" title="buy print"></i>
</a>
</div>
	