<div class="large-12 columns photo-container">
	<button type="button" class="close-button" data-close aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<a class="photo-wrapper" href="#"><img class="photo"></a>
	<span class="prev">&laquo;</span><span class="next">&raquo;</span>
</div>
<div class="large-12 columns photo-tools">
<a href="#" class="download-photo"><i class="fa fa-download"></i></a>
<a href="#" class="buy-photo"><i class="fa fa-cart-arrow-down"></i></a>
</div>
	