<div class = "large-2 columns">
	<a class="scroll-left" href="#"><i class="fa fa-arrow-left"></i></a>
	<a class="scroll-right" href="#"><i class="fa fa-arrow-right"></i></a>
</div>
<fieldset class="large-10 columns size-selectors">
	<input type="radio" name="view-size" id="view-S"><label for="view-S">Small</label>
	<input type="radio" name="view-size" id="view-M" checked	><label for="view-M">Medium</label>
	<input type="radio" name="view-size" id="view-L"><label for="view-L">Large</label>
	<input type="radio" name="view-size" id="view-X"><label for="view-X">X-Large</label>
</fieldset>
<div class="image-view">
	<a href="#" class="view-image-wrapper"><img class="view-image"></a>
</div>
<div class="text-view">
	<div class="text-container">
</div>