<fieldset class="large-12 columns size-selectors">
	<a href="#" class="scroll-left"><i class="fa fa-arrow-left"></i></a>
	<a href="#" class="scroll-right"><i class="fa fa-arrow-right"></i></a>
	<input type="radio" name="view-size" id="view-S"><label for="view-S">Small</label>
	<input type="radio" name="view-size" id="view-M"><label for="view-M">Medium</label>
	<input type="radio" name="view-size" id="view-L" checked><label for="view-L">Large</label>
	<input type="radio" name="view-size" id="view-X"><label for="view-X">X-Large</label>
</fieldset>

<div class="large-6 columns">
	<img class="view-image">
</div>

<div class="large-6 columns">
<div class="text-container">
</div>