{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{webroot}}/stylesheets/about.css">
{% endblock %}

{% block content %}
  
<div class="row">
<div class="large-12 columns">

<img class="about-img-left" src="{{webroot}}/images/casey-1.jpg" alt="Casey McSpadden">

<p>Thank you for visiting Cross River Photography, featuring the work of Casey McSpadden.</p>

<p>I bought my first "serious" camera--a Minolta SRT-101--when I was in high school, and landed my first gig as photographer for the wedding of my girlfriend's sister. Mercifully, the negatives from that assignment have long since disappeared, but I learned a lot in the process. Many years and many photographs later, I continue to learn new things about the art of seeing and the science of turning that vision into a photograph. The older I get, the more I appreciate how little I know. As Geoffrey Chaucer said about writing: “The lyf so short, the craft so longe to lerne.”</p>

<p>The craft has taken me to many interesting parts of the world working with journalists on assignment for publications such as More Magazine, Gourmet and the Los Angeles Times. Closer to home in Kansas City, I like to do street work, and I'm a sucker for kids and animals.</p>

<p>Many of my photographs are available for sale as prints: look for the add-to-cart icon <i class="fa fa-cart-arrow-down hilite" title="add photo to cart"></i> as you browse my <a class="hilite" href="{{webroot}}/galleries/portfolio">portfolio</a>. I'm also available for freelance assignments; please <a class="hilite" href="{{webroot}}/contact">contact me</a> for a quote.</p>

<img class="about-img-right" src="{{webroot}}/images/mamfe-1.jpg" alt="Casey McSpadden">

<p>Oh, the name. The Cross is a river that flows between Nigeria and Cameroon in West Africa. I was a Peace Corps teacher in Southwest Cameroon and I spent countless hours watching the Cross River flow through the dense jungle near my home. An old and rickety suspension bridge that crossed it--built by German colonists in the early 1900s and still in use today--was a favorite photographic subject of mine.</p>

<p>Cross River Photography<br/>
Casey McSpadden</p>		
	</div>
</div>

{% endblock %}

{% block script %}
<script src="{{webroot}}/js/app.bundle.js"></script>
{% endblock %}


