<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Photo Site</title>
  <link rel="stylesheet" href="{{options.webroot}}/stylesheets/admin.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body>
<div class="top-bar admin">
<div class="top-bar-left">
<ul class="menu">
<li class="menu-text">Admin</li>
  <li><a href="{{options.webroot}}/admin/organize">ORGANIZE</a></li>
  <li><a href="{{options.webroot}}/admin/users">USERS</a></li>
  <li><a href="{{options.webroot}}/admin/sales">SALES</a></li>
</ul>
</div>
</div>

<div class="admin-wrapper">
  {% block content %}
  {% endblock %}
</div>

{% block script %}
<script src="{{options.webroot}}/js/admin.bundle.js"></script>
{% endblock %}
</body>
</html>





