<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Photo Site</title>
  <link rel="stylesheet" href="{{webroot}}/stylesheets/admin.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body>
<div class="top-bar admin">
<ul class="menu large-10 columns">
  <li class="menu-text">Admin</li>
  <li><a href="{{adminroot}}/organize">ORGANIZE</a></li>
  <li><a href="{{adminroot}}/users">USERS</a></li>
  <li><a href="{{adminroot}}/sales">SALES</a></li>
  <li><a href="{{webroot}}/">SITE</a></li>
</ul>
<ul class="menu large-2 columns align-right">
  <li><a href="#" class="admin-settings" data-open="admin-editSettings"><i class="fa fa-gear"></i></a></li>
</ul>
</div>

<div class="admin-wrapper">
  {% block content %}
  {% endblock %}
</div>

<div class="reveal form" id="admin-editSettings" data-reveal>
<h2>Settings</h2>
<div class="admin-settings-view">
</div>
<button type="button" class="close-button" data-close aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</div>

{% block script %}
<script src="{{webroot}}/js/admin.bundle.js"></script>
{% endblock %}
</body>
</html>





