<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foundation</title>
  {% block style %}
  <link rel="stylesheet" href="{{options.webroot}}/stylesheets/app.css">
  {% endblock %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body>
  <div class="row">
  
    <div class="large-12 columns top-bar client">
      <div class="top-bar-left menu-text">
        <a class="title-main" href="{{options.webroot}}/">Cross River</a><span class="title-sub">photography by Casey McSpadden</span>
      </div>
    </div>
  
    <div class="large-12 columns">
      <div class="top-bar-right normal">
        <ul class="menu horizontal dropdown" data-dropdown-menu>
        <li><a class="top-item" href="{{options.webroot}}/portfolio">PORTFOLIO</a></li>
        <li><a class="top-item" href="{{options.webroot}}/about">ABOUT</a></li>
        <li><a class="top-item" href="#">CONTACT</a></li>
        <li class="session-menu"><a class="top-item" href="#">CLIENT</a></li>
        </ul>
      </div>
      <div class="top-bar-right small">
        <ul class="menu vertical dropdown" data-dropdown-menu>
        <li><a class="top-item" href="{{options.webroot}}/portfolio">PORTFOLIO</a></li>
        <li><a class="top-item" href="{{options.webroot}}/about">ABOUT</a></li>
        <li><a class="top-item" href="#">CONTACT</a></li>
        <li class="session-menu"><a class="top-item" href="#">CLIENT</a></li>
        </ul>
      </div>
    </div>
  
  </div>
  
  <div class="row" id="mainContent">
    {% block content %}
    {% endblock %}
  </div>
 
  {% block script %}
  <script src="{{options.webroot}}/js/app.bundle.js"></script>
  {% endblock %}
</body>
</html>