{% extends "base.html" %}

{% block style %}
  <link rel="stylesheet" href="{{webroot}}/stylesheets/home.css">
{% endblock %}

{% block content %}
  
<div class="large-3 small-12 columns">
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga iure aliquid, ut voluptas. Quia sit, voluptatibus autem aut pariatur voluptates sapiente perspiciatis natus obcaecati totam ullam culpa tempora nam at soluta sunt quis neque voluptate enim blanditiis quibusdam hic recusandae? Eos culpa, odit incidunt atque est fugit. Consequatur laudantium id perferendis assumenda eius unde eum in vitae rerum esse, voluptates quasi expedita libero dicta rem ducimus error? Eligendi aspernatur, vel quasi ipsum ad ipsam error. Placeat repellendus itaque nemo alias quidem consequatur, odio dicta assumenda laudantium sed mollitia sint, rerum debitis dolor facere labore, quae error perspiciatis, facilis accusamus! Quisquam?</div>
</div>

<div class="large-9 small-12 columns">
	<div class="slideshow">
	</div>
</div>

{% endblock %}

{% block script %}
<script src="{{webroot}}/js/home.bundle.js"></script>
{% endblock %}


