{% extends "base.html" %}

{% block style %}
  <link rel="stylesheet" href="{{webroot}}/stylesheets/home.css">
{% endblock %}

{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="large-12 columns">
	<div class="slideshow"></div>
</div>

<!--
<div class="large-6 columns facebook-view">
</div>

<div class="large-6 columns instagram-view">
</div>
-->

{% endblock %}

{% block script %}
<script src="{{webroot}}/js/home.bundle.js"></script>
{% endblock %}


