RewriteEngine On


#RewriteCond %{HTTP_REFERER} !^https?://www.crossriver\.com/?.*$ [NC]
#RewriteCond %{HTTP_REFERER} !^https?://crossriver\.com/?.*$ [NC]
RewriteCond %{HTTP_REFERER} !^$  
RewriteCond %{HTTP_REFERER} !^https?://192.168.1.171.*$ [NC]
RewriteCond %{HTTP_REFERER} !^https?://localhost/?.*$ [NC]
RewriteCond %{HTTP_REFERER} !^https?://caseymcspadden/?.*$ [NC]
RewriteRule \.(gif|jpe?g|png|bmp)$ - [R=403,NC]

#RewriteCond %{HTTP_REFERER} !^$  
#RewriteCond %{HTTP_REFERER} !^http://(www.)?crossriver.com/ [NC]  
#RewriteRule .(gif|jpg|png)$ - [R=403]

RewriteRule ^photos/(T|S|M|L|X)/([0-9]+([0-9][0-9])).jpg photos/$3/$2_$1.jpg [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* index.php [L]

