.cart-view {
	h1, h2, h3, h4, h5, h6 {color: $white;}

	.cart-items {
		//background-color: lighten($body-background, 10%);
		.cart-item {
			margin-bottom: 1rem;
			.image-container {
				position: relative;
				height: 150px;
				width: 250px;
				overflow: hidden;
				img {
					height: 150px;
					position: absolute;
				}
				.crop-rect {
					position: absolute;
					height: 100px;
					width: 100px;
					border: 1px solid $primary-color;
					background-color: $secondary-color;
					opacity: 0.25;
				}
			}
			a {
				color: $white;
				&:visited {color: $white;}
			}
			.quantity {
				margin-left: 1rem;
				margin-right: 1rem;
			}
		}
	}

	.order-summary-view {
		//background-color: lighten($body-background, 10%);
	}
}