.cart-view {
	h1, h2, h3, h4, h5, h6 {color: $white;}


	.cart { 
		margin-top: 1rem;
		padding-top: 1rem;
		border-top: 1px solid $dark-gray;
		.cart-items {
			.cart-item {
				margin-bottom: 1rem;
				background-color: lighten($body-background, 8%);
				padding-top: 1rem;
				padding-bottom: 1rem;
				border-radius: 1rem;
				.product-description {
					color: $white;
					margin-bottom: 5px;
				}
				.button-group {
					margin-top: 5px;
				}
				.image-container {
					position: relative;
					height: 220px;
					width: 340px;
					overflow: hidden;
					img {
						height: 220px;
						position: absolute;
						opacity: 0.80;
					}
					.crop-rect {
						position: absolute;
						height: 0px;
						width: 0px;
						border: 2px solid $secondary-color;
						background-color: $white;
						opacity: 0.2;
						cursor: pointer;
					}
				}
				a {
					color: $white;
					&:visited {color: $white;}
				}
				.quantity {
					margin-left: 1rem;
					margin-right: 1rem;
				}
			}
		}
	}

	.order-summary {
		//background-color: lighten($body-background, 10%);
	}
}