.hidden {
  display: none;
}

.photo-thumbnail {
  position: relative;
  width: 104px;
  height: 104px;
  overflow: hidden;
  float: left;
  margin: 4px;
  padding: 0;
  img {
    border: 2px solid $body-background;
    padding: 0;
    margin: 0;
    &.selected {
      border: 2px solid $white;
    }
  }
}

.reveal.form {
  color: $white;
  &:focus {
    outline: 0;
  }
  .close-button:hover {
    color: $white
  }
  a {
    color: $light-gray;
  }
  input[type="submit"] {
    background-color: lighten($black,10%);
    width: 100%;
  }
}

.menu {
  .menu-text {
    color: $white;
    font-weight: bold;
  }

  a {
    color: $body-font-color;
    &:visited {color: $body-font-color;}   
    &:hover {color: $white;}
  }
}

.top-bar.client {
  //margin: rem-calc(10) rem-calc(-60) rem-calc(10) rem-calc(-60);
  margin-top: rem-calc(10);
  border-top: 3px solid $primary-color;
  a {
    color: $body-font-color;
  }

  .menu-text {
    font-weight: normal;
    .title-main { 
      font-size: 3.5rem;
      //font-family: garamond;
      @include breakpoint(small down) {
        font-size: 1.5rem;
      }
 
      &:hover {
        color: $secondary-color;
      }
    }
    .title-sub {
      margin-left: 0.5rem;
      color: $secondary-color;
      font-size: 1.25rem;
      @include breakpoint(small down) {
        font-size: .75rem;
      }
    }
  }
}

.top-bar-right {
  a {
    &.top-item {
      border-top: 2px solid $body-background;
      &:hover {
        border-top: 2px solid $secondary-color;
      }
    }
  }
}

/*
@include breakpoint(small down) {
  .top-bar-right.normal {
    display: none;
  }
  .top-bar-right.small {
    display: block;
  }  
}
@include breakpoint(medium up) {
  .top-bar-right.normal {
    display: block;
  }
  .top-bar-right.small {
    display: none;
  }  
}
*/
