.hidden {
  display: none;
}

.photo-thumbnail {
  position: relative;
  width: 104px;
  height: 104px;
  overflow: hidden;
  float: left;
  margin: 4px;
  padding: 0;
  img {
    border: 2px solid $body-background;
    padding: 0;
    margin: 0;
    &.selected {
      border: 2px solid $white;
    }
  }
}

.reveal.dark {
  background-color: $body-background;
  .close-button:hover {
    color: $white
  }
  label {
    color: $white
  }
}

.top-bar.client {
  //margin: rem-calc(10) rem-calc(-60) rem-calc(10) rem-calc(-60);
  margin-top: rem-calc(10);
  border-top: 3px solid $primary-color;
  a {
    color: $body-font-color;
  }

  .menu-text {
    .title-main { 
      display: inline;
      font-size: 4rem;
      //font-family: Kameron;
      &:hover {
        color: $secondary-color;
      }
    }
    .title-sub {
      margin-left: 0.5rem;
      color: $secondary-color;
      font-size: 1.25rem;
    }
  }

  .top-bar-right {
    margin-top: 5rem;
    a {
      border-top: 2px solid $body-background;
      &:hover {
        border-top: 2px solid $secondary-color;
        color: $white;
      }
    }
  }
}