.container-cover {
  position: relative;
  overflow: hidden;
  float: left;
  padding: 0;
  margin: rem-calc(5);
  cursor: pointer;
  &:hover { 
    img {
      opacity: 1.0;
    }
    .container-info {
      display: none;
    }
  }
  img {
    //width: 300px;
    opacity: 0.6;
  }
  .container-info {
    position: absolute;
    font-size: 1.25rem;
    top: 40%;
    left: rem-calc(10);
    color: $white;
    opacity: 1.0;  
    width: 100%;
  }
}