.cropped-view {
	position: relative;
	//height: 220px;
	//width: 340px;
	overflow: hidden;
	img {
		//height: 220px;
		position: absolute;
		opacity: 0.80;
	}
	.crop-rect {
		position: absolute;
		height: 0px;
		width: 0px;
		border: 2px solid $secondary-color;
		background-color: $white;
		opacity: 0.2;
		cursor: pointer;
	}
}