.crop-view {
	.cropper-modal {
		opacity: 0.6;
	}

	img.crop-photo {
	  max-width: 100%;
	}

	.save-crop-wrapper {
		margin-top: 1rem;
		text-align: center;
	}

	.orientation {
		margin-bottom: 0.5rem;
		img {
			opacity: 0.7;
			&:hover {
				opacity: 1.0;
			}
		}
	}

	.warning {
		background-color: #f00;
		opacity: 0.4;
	}
}