.gallery-grid-view {
	@include breakpoint(medium up) {
		float: left;
	}
	.grid {
		position: relative;
		padding-left: rem-calc(20);
		padding-right: rem-calc(20);
		.prev, .next {
			position: absolute;
			z-index: 1;
			top: rem-calc(223);
			font-size: rem-calc(30);
			color: $white;
			opacity: 0.7;
			
			&:hover {
				cursor: pointer;
				opacity: 1.0;
			}
		}

		@include breakpoint(medium down) {
			.prev, .next {
				display: none;
			}
		}

		.prev {
			//padding: 5px 5px 10px 3px;
			left: 0;
		}

		.next {
			//padding: 5px 3px 10px 5px;
			right: 0;
		}

		.content {
			width: rem-calc(336);
			min-height: rem-calc(450);
			//@include breakpoint(medium up) {
			 //	min-height: rem-calc(450);
			//}
		}
		
		.photo-thumbnail {
		  img {
			    &.selected {
			      //border: 2px solid $body-background;
			    }
			}
 		}
 	}
	
	.pager {
		text-align: center;
		width: 100%;
		select {
			width: 25%;
			border: 0;
			outline: none;
		}
	}
}

.gallery-photo-view {
	@include breakpoint(medium up) {
		overflow: hidden;
		margin-left: rem-calc(20);
	}
	.content {
		@include breakpoint(medium up) {
			height: rem-calc(474);
		}
		white-space: nowrap;
		text-align: center;
		a {
			outline: none;
		}
		.aligner {
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}
		.selected-photo {
			vertical-align: middle;
			max-height: 370px;
			cursor: pointer;
			@include breakpoint(medium up) {
				border: 2px solid $white;
			}				
			//border: 2px solid $white;
		}
	}
	
	#download-iframe {
		display: none;
	}

	.photo-tools {
		line-height: 2.4375rem;
		color: $white;
		.counter {
			//@include breakpoint(medium down) {
			//	display: none;
			//}
			float: left;
			text-align: left;
			margin-left: rem-calc(20);
			.prev, .next {
				opacity: 0.7;
				&:hover {
					cursor: pointer;
					opacity: 1.0;
				}
			}
			.prev {
				margin-right: 1rem;
			}
			.next {
				margin-left: 1rem;
			}
		}
		.tools {
			overflow: hidden;
			text-align: right;
			margin-right: 1rem;
			.download-gallery {
					@include breakpoint(medium down) {
					display: none;
				}				
			}
			.has-tip {
				cursor: pointer;
			}
			a {
				i {outline: none;}
				color: $white;
				&.in-cart {color: $body-font-color;}
				margin-left: 1rem;
			}
		}		
	}
}

.download-gallery-view {
	.payment-wait {
		text-align: center;
		margin-bottom: 2rem;
	}
	a {
		color: white;
		&:hover {text-decoration: underline;}
	}
	.archive-wait {
		img {float: left; margin-right: 1rem;}
		.progress {
			width: 80%;
			float: left;
			//overflow: hidden;
		}
	}
	.button.separate {
		margin-left: 1rem;
	}
}