.gallery-grid-view {
	float: left;

	.grid {
		position: relative;
		padding-left: rem-calc(18);
		padding-right: rem-calc(18);

		.next, .prev {
			position: absolute;
			z-index: 1;
			top: rem-calc(200);
			font-size: rem-calc(30);
			color: $white;
			//font-weight: bold;
			
			&:hover {
				cursor: pointer;
				color: $secondary-color;
			}
		}

		@include breakpoint(medium down) {
			.prev, .next {
				display: none;
			}
		}

		.prev {
			//padding: 5px 5px 10px 3px;
			left: 0;
		}

		.next {
			//padding: 5px 3px 10px 5px;
			right: 0;
		}

		.content {
			width: rem-calc(336);
		 	min-height: rem-calc(450);
		}
		
		.photo-thumbnail {
		  img {
			    &.selected {
			      border: 2px solid $body-background;
			    }
			}
 		}
 	}
	
	.pager {
		text-align: center;
		width: 100%;
		select {
			width: 33%;
			border: 0;
			outline: none;
		}
	}
}

.gallery-photo-view {
  float: left;
  margin-left: rem-calc(20);
  .content {
  	min-height: rem-calc(450);
  }
  img {
  	max-height: rem-calc(360);
  }
}