ul.mtree {
  opacity: 1; // Set to 0 and let mtree display after initialization
  margin-left: 0; // Lets just remove default left margin on root element shall we ...
  padding: 1.2em; // Set a nice padding if your design requires it

  ul {
    margin-left: 1em; // Set default indent level (or set 0)
    //min-height: 1em;
  }
  
  li {
    list-style: none; // Lets remove default bullets for all elements
  }
  
  // Styles for all link elements, change to '* >:first-child' if not using anchor <a>
  a {
    @extend %mtree-transition;
    display: block;
  }
  
  // li.mtree-node : All <li> list items that have children (node)
  li.mtree-node {
    // Anchor element for list elements that have children
    > a { font-weight: bold; }
  }
  
  // li.mtree-open : <li> list items that are open
  li.mtree-open {}
  
  // li.mtree-closed : <li> list items that are closed
  li.mtree-closed {}
  
  // Level classes <ul> submenu elements with recursive styles.
  ul.mtree-level-1 { 
    // smaller font-size for child elements from level 1
    // li { font-size: .9em; }
  } 
  ul.mtree-level-2 { }
  ul.mtree-level-3 { }
  //ul.mtree-level-[DEPTH] { }
}

// Some simple anim for hover, better add with Bourbon or Compass perhaps
/*
%mtree-transition {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
*/

// ** MTREE SKINS **
// You can style the list yourself naturally, but here are some demo examples:

ul.mtree.transit {
  //background: #111;
  ul {margin-left: 0; display: none;}
  .folder-icon, .gallery-icon { margin-right: .5em; }
  //ul > li {font-size:.9em; }
  li.mtree-node {
    position:relative;
    border-top: 3px solid $body-background;
    &.dropbefore > a {
      border-top: 3px solid #060;
    }
    &.dropinside > a {
      background: #060;
    }
  }
  //li.mtree-node > a:before { color:#CCC; font-weight:normal; position: absolute; right: 20px; }
  //li.mtree-open > a:before { content: '-';}
  //li.mtree-closed > a:before { content: '+'; }
  ul > li:first-child { margin-top: 1px; }
  //li.mtree-open > a {background: #222; }
  li > a:hover, li.mtree-active > a {background: #333; color: #FFF; }
  //li.dropbefore > a {border-top: 3px solid #060;}
  //li.dropinside > a {background: #060;}
  //li.mtree-node > ul > li:last-child { margin-bottom: .5em; padding-bottom: .5em; border-bottom: 1px solid #333;}
  li.mtree-node:last-child > ul > li:last-child { margin-bottom: 0; padding-bottom: 0; border-bottom: none;}
  $indent: 1em;
  a { padding: 5px 0px 5px $indent; color: #CCC; }
  li li > a { padding-left: $indent*2; }
  li li li  > a { padding-left: $indent*3; }
  li li li li > a { padding-left: $indent*4; }
  li li li li li > a { padding-left: $indent*5; }
}