.order-view {

	h1, h2, h3, h4, h5 {
		color: white;
	}

	.summary {
		margin-bottom: 0.5rem;
		line-height: 1.2rem;
		color: white;
		&.name {
			color: $light-gray;
		}
	}

	.order-items {
		img {
			height: 140px;
		}
	}

}
