.order-view {

	h1, h2, h3, h4, h5 {
		color: white;
	}

	.summary {
		margin-bottom: 0.5rem;
		line-height: 1.2rem;
		color: $white;
		&.name {
			color: $light-gray;
		}
		&.status {
			color: $secondary-color;
		}
		a {
			color: $white;
			text-decoration: underline;
		}
	}

	.order-items {
	}

	.orderitem {
	  overflow: hidden;
	  float: left;
	  margin: 4px;
	  img {
		height: 220px;
	    padding: 0;
	    margin: 0;
	  }
	  .description {
	  	text-align: center;
	  }
	}
}
