@charset 'utf-8';

@import "settings";
@import "common";
@import "cart-summary-view";
@import "../../node_modules/foundation-sites/scss/foundation";

@include foundation-everything;

@import "../../node_modules/font-awesome/scss/font-awesome.scss";

.about-img-left {
	width: 300px;
	margin-right: 1rem;
	margin-bottom: 1rem;
	float: left;
}

.about-img-right {
	width: 300px;
	margin-left: 1rem;
	margin-top: 1rem;
	float: right;
}

.hilite {
    color: $white;
    &:visited {color: $white;}   
    &:hover {color: $secondary-color;}
}
