@charset 'utf-8';

@import "settings";
@import "common";
@import "cart-summary-view";
@import "../../node_modules/foundation-sites/scss/foundation";

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed();
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
//@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@import "../../node_modules/font-awesome/scss/font-awesome.scss";

.about-img-left {
	width: 300px;
	margin-right: 1rem;
	margin-bottom: 1rem;
	float: left;
}

.about-img-right {
	width: 300px;
	margin-left: 1rem;
	margin-top: 1rem;
	float: right;
}

.hilite {
    color: $white;
    &:visited {color: $white;}   
    &:hover {color: $secondary-color;}
}
