@charset 'utf-8';

@import 'settings';
@import 'dropzone';
@import 'mtree';
@import 'photoviewer';
@import "../../node_modules/foundation-sites/scss/foundation";

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
//@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@import "../../node_modules/slick-carousel/slick/slick.scss";
@import "../../node_modules/slick-carousel/slick/slick-theme.scss";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";

#uploadModal {
  width: 80%;
  background-color: $white;
}

.slick-slide {
    padding: 2px;
    outline: none;
    background-color: $body-background;
    text-align:center;
    img {
    	opacity: 0.8;
		  &:hover {
			 opacity: 1;
		  }
    }
}

.top-bar.client {
  //margin: rem-calc(10) rem-calc(-60) rem-calc(10) rem-calc(-60);
  margin-top: rem-calc(10);
  border-top: 3px solid $primary-color;
  a {
    color: $body-font-color;
  }

  .menu-text {
    .title-main { 
      display: inline;
      font-size: 4rem;
      //font-family: Kameron;
      &:hover {
        color: $secondary-color;
      }
    }
    .title-sub {
      margin-left: 0.5rem;
      color: $secondary-color;
      font-size: 1.25rem;
    }
  }

  .top-bar-right {
    margin-top: 5rem;
    a {
      border-top: 2px solid $body-background;
      &:hover {
        border-top: 2px solid $secondary-color;
        color: $white;
      }
    }
  }
}

.admin-panel {
	float: left;
	&.left {
		width: 25%;
	}
	&.right {
    width: 70%;
	}
}

.top-bar.admin {
  color: $white;

  a {
    color: $white;
    opacity: 0.8;
    &:hover {
    	opacity: 1.0;
    }
  }
}

.photo-thumbnail {
  position: relative;
  width: 104px;
  height: 104px;
  overflow: hidden;
  float: left;
  margin: 4px;
  padding: 0;
  img {
    border: 2px solid $body-background;
    padding: 0;
    margin: 0;
    &.selected {
      border: 2px solid $white;
    }
  }
}

.featured-thumbnail {
  position: relative;
  overflow: hidden;
  float: left;
  padding: 0;
  margin: 5px;
  img {
    opacity: 0.5;
  }
  .gallery-info {
    position: absolute;
    top: 70px;
    left: 5px;
    color: $white;  
    width: 100%;
  }
}

.reveal-dark {
  background-color: $body-background;
  .close-button:hover {
    color: $white
  }
  label {
    color: $white
  }
}

#gv-addPhotos {
  @extend .reveal-dark;
}

#gv-uploadPhotos {
  @extend .reveal-dark;
}

#drag-window {
  background-color: transparent;
  color: $white;
  .folder-icon, .gallery-icon {margin-right: .5rem;}
  opacity: 0.8
  //display: none;
  //position: absolute;
}

.hidden {
  display: none;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}