@charset 'utf-8';

@import 'settings';
@import 'common';
@import 'dropzone';
@import 'mtree';
@import 'featured';
@import 'admin-photoviewer';
@import 'photo-thumbnail';
@import 'admin-breadcrumbs';
@import 'admin-users-view';
@import 'admin-catalog-view';
@import "edit-container-view";
@import "../../node_modules/foundation-sites/scss/foundation";

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
//@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@import "../../node_modules/font-awesome/scss/font-awesome.scss";

#uploadModal {
  width: 80%;
  background-color: $white;
}

.admin-panel {
	float: left;
	&.left {
		width: 25%;
	}
	&.right {
    width: 70%;
	}
}

.top-bar.admin {
  color: $white;

  a {
    color: $white;
    opacity: 0.8;
    &:hover {
    	opacity: 1.0;
    }
  }
}

#addUser {
  .error-message {
    color: red;
  }
}

#gv-addPhotos {
  @extend .reveal-dark;
}

.dropzone-view {
  @extend .reveal-dark;
}

#drag-window {
  background-color: transparent;
  color: $white;
  .folder-icon, .gallery-icon {margin-right: .5rem;}
  opacity: 0.8
  //display: none;
  //position: absolute;
}

/*
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
*/